<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<variable name="DefaultLayout" value="[${time}][${level}] ${message}"/>
	<variable name="CallsiteLayout" value="[${time}][${level}] ${callsite}: ${message}"/>
	<targets>
		<target name="Console"
				xsi:type="Console"
				layout="${DefaultLayout}"/>

		<target name="DebugFileLog"
				xsi:type="File"
				fileName="logs/debug_${shortdate}.log"
				layout="${CallsiteLayout}"/>
		<target name="InfoFileLog"
				xsi:type="File"
				fileName="logs/info_${shortdate}.log"
				layout="${DefaultLayout}"/>
		<target name="ErrorFileLog"
				xsi:type="File"
				fileName="logs/error_${shortdate}.log"
				layout="${CallsiteLayout}"/>


		<target name="DatabaseLog"
				xsi:type="Database"
				dbProvider="MySqlConnector.MySqlConnection, MySqlConnector"
				connectionString="${configsetting:item=ConnectionStrings.Default}">

			<commandText>
				INSERT INTO `LogEntries` (
				`LogEntryTypeID`,
				`Timestamp`,
				`Location`,
				`Message`)
				VALUES (
				CASE @Level
				WHEN 'Trace' THEN 1
				WHEN 'Debug' THEN 2
				WHEN 'Info' THEN 3
				WHEN 'Warn' THEN 4
				WHEN 'Error' THEN 5
				WHEN 'Fatal' THEN 6
				ELSE 7
				END,
				@Date,
				@Location,
				@Message);
			</commandText>

			<parameter name="@Date" layout="${date}"/>
			<parameter name="@Location" layout="${callsite}"/>
			<parameter name="@Message" layout="${message}"/>
			<parameter name="@Level" layout="${level}"/>
		</target>
	</targets>

	<rules>
		<logger name="*" minlevel="Trace" writeTo="Console"/>
		<logger name="*" maxlevel="Debug" writeTo="DebugFileLog"/>
		<logger name="*" minlevel="Info" maxlevel="Warn" writeTo="InfoFileLog"/>
		<logger name="*" minlevel="Error" maxlevel="Fatal" writeTo="ErrorFileLog"/>
		<logger name="*" minlevel="Info" writeTo="DatabaseLog"/>
	</rules>
</nlog>